*.DS_Store
**/COMPS_log.log
**/DownloadAnalyzerTPI_cache/
**/DownloadAnalyzerTPI_cache/*
**/__pycache__/
**/__pycache__/*
**/post_channel_config.json
**/resampled_parameter_sets.csv
**/test*
**/HIVCalibSite_*
**/Nyanza--*
**/output
**/*.pdf